services:
  qwen-urushi:
    restart: always
    image : qwen-urushi
    build:
      context: .
    environment:
      - CUDA_HOME=/usr/local/cuda
      - PYTHONUNBUFFERED=1
      - DEBIAN_FRONTEND=noninteractive
    tty: true

    container_name: qwen-urushi
    hostname: "makima"
    ipc: "host"
    runtime: nvidia
    volumes:
      - type: bind
        source: "./qwen"
        target: "/home/user/qwen"

      # - type: bind
      #   source: "./dataset"
      #   target: "/home/user/datasets"
    deploy:
      resources:
        reservations:
          devices:
           - driver: nvidia
             count: 1
             capabilities: [utility, compute, video, gpu]